@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
.members > .center-text h1{
   /* margin: auto; */
   text-align: center;
   margin-top: 20%;
}
 .members > article {
    margin-bottom: 3rem;
 }
 
 .partners-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 3rem auto;
 }
 .main-right {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
 }
 .main-left {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    /* text-align: center; */
 }
 
 .member-photo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
 }
 
 .about-text-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #cecece;
 }
 .about-text-left .btn {
    color: #cecece;
    width: 7rem;
    background-color: #d3003f;
    margin: 2rem auto;
 }
 .about-text-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
 }
 .about-text-right .btn {
    color: #cecece;
    width: 7rem;
    background-color: #d3003f;
    margin: 2rem auto;
 }
 
 .partnerName {
    font-weight: 600;
    margin-top: 4rem;
    font-size: 2rem;
    text-align: center;
 }
 .name-span {
    font-weight: 400;
    color: #ec5800;
 }
 .partnerDescription {
    width: 400px;
    margin: auto;
    line-height: 1.6;
 }
 .partnerDescription2 {
    width: 400px;
    margin: auto;
    line-height: 1.6;
 }
 
 @media screen and (min-width: 768px) {
    .main-right {
       flex-direction: row-reverse;
       justify-content: space-around;
    }
 
    .main-left {
       flex-direction: row;
       justify-content: space-around;
    }
    .member-photo {
       width: 400px;
       height: 400px;
       border-radius: 50%;
    }
    .partnerDescription {
       width: 80%;
       margin: -0.5rem auto;
       line-height: 1.6;
    }
    .partnerDescription2 {
       width: 80%;
       margin: -0.5rem auto;
       line-height: 1.6;
    }
 }
 @media screen and (min-width: 992px) {
    /* body {
       display: none;
    } */
    .main-left {
      
       text-align: left;
    }
     .about-text-left {
       display: flex;
 
       justify-content: left;
       align-items: left;
       width: 600px;
    }
 
    .about-text-right {
 
       width: 600px;
       display: flex;
       align-self: flex-start;
       margin-left: -3rem;
    }
 
    .partnerName {
       text-align: left;
       margin-left: 3.5rem;
    }
 
    .about-text-right .btn {
  
       margin: 2.5rem 3.5rem;
    }
    .about-text-left .btn {
  
       margin: 2.5rem 3.5rem;
    }
 }
 
 /* 
 .about {
    padding: 78px 0px;
    background-color: #181818;
 }
 
 .about img {
    height: 400px;
    border-radius: 100%;
    margin: 10px;
 }
 .about-text {
    width: 550px;
 }
 
 .about-text .btn {
    background-color: #f9004d;
    color: #cecece;
    width: 7rem;
    margin: 0.5rem auto 1rem auto;
 }
 .main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .main1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
 } */
 
 /* .about1 {
    width: 100%;
    padding: 50px 0px;
    background-color: white;
 }
 
 .about1 img {
    height: 400px;
    border-radius: 100%;
    margin: 10px;
 }
 .about-text1 {
    width: 550px;
 }
 
 .about-text1 .btn {
    background-color: #f9004d;
    color: #cecece;
    width: 7rem;
    margin: 0.5rem auto 1rem auto;
 }
 
 .partners-title {
    font-size: 3rem;
    text-align: center;
 }
 
 .name-span {
    color: #ec5800;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 2px;
 }
 
 .about-text1 p {
    color: #181818;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 45px;
 } */
 
 /* @media only screen and (max-width: 768px) {
    .main1 {
       flex-direction: column;
    }
    .main1 .partnerName {
       font-size: 2rem;
    }
    .main .partnerName {
       font-size: 2rem;
    }
 
    .partnerDescription {
       margin: auto;
       width: 80%;
       text-align: center;
    }
 
 } */
 