@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* 
========        ==========
        Animation.
========        ==========
*/
/* Animate the content and zooming in when the user scrolling */
.about-right {

   opacity: 0;
   transform: scale(0.1);
   transition: all 2s ease-in-out;
}
.about-right-meynard {
  
   opacity: 0;
   transform: scale(0.1);
   transition: all 2s ease-in-out;
}
.about-left {
 
   opacity: 0;
   transform: scale(0.1);
   transition: all 2s ease-in-out;
}
.active {
   opacity: 1;
   transform: scale(1);
}
