@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


.members > .center-text h1{
   /* margin: auto; */
   text-align: center;
   margin-top: 20%;
}
.members > article {
   margin-bottom: 3rem;
}

.partners-title {
   font-size: 2.5rem;
   text-align: center;
   margin: 3rem auto;
}
.main-right {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* text-align: center; */
}
.main-left {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #181818;
   /* text-align: center; */
}

.member-photo {
   width: 400px;
   height: 400px;
   border-radius: 50%;
}

.about-text-left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #cecece;
}
.about-text-left .btn {
   color: #cecece;
   width: 7rem;
   background-color: #d3003f;
   margin: 2rem auto;
   position: relative;
}
.about-text-left .btn:hover::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   outline: 3px solid #ee4266;
   outline-offset: 0.3rem;
}

.about-text-right {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 1rem;
}
.about-text-right .btn {
   color: #cecece;
   width: 7rem;
   background-color: #d3003f;
   margin: 2rem auto;
   position: relative;
}
.about-text-right .btn:hover::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   outline: 3px solid #ee4266;
   outline-offset: 0.3rem;
}

.partnerName {
   font-weight: 600;
   margin-top: 4rem;
   font-size: 2rem;
   text-align: center;
}
.name-span {
   font-weight: 400;
   color: #ec5800;
}
.partnerDescription {
   width: 400px;
   margin: auto;
   line-height: 1.6;
}
.partnerDescription2 {
   width: 400px;
   margin: auto;
   line-height: 1.6;
}

@media screen and (min-width: 375px) {

   .members h1 {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
   }
   .partnerName {
      margin-top: 1rem;
   }
   .member-photo {
      width: 320px;
      height: 320px;
   }

   .partnerDescription {
      text-align: center;
      width: 350px;

      line-height: 1.6;
   }
   .partnerDescription2 {
      text-align: center;
      width: 350px;
      line-height: 1.6;
   }
}

@media screen and (min-width: 768px) {
   .members {
      margin-bottom: 10rem;
   }
   .main-right {
      flex-direction: row-reverse;
      justify-content: space-around;
   }

   .main-left {
      flex-direction: row;
      justify-content: space-around;
   }
   .member-photo {
      width: 400px;
      height: 400px;
      border-radius: 50%;
   }
   .partnerDescription {
      width: 80%;
      margin: -0.5rem auto;
      line-height: 1.6;
   }
   .partnerDescription2 {
      width: 80%;
      margin: -0.5rem auto;
      line-height: 1.6;
   }
}
@media screen and (min-width: 992px) {

   .main-left {
      text-align: left;
   }
   .about-text-left {
      display: flex;

      justify-content: left;
      align-items: left;
      width: 600px;
   }

   .about-text-right {
      width: 600px;
      display: flex;
      align-self: flex-start;
      margin-left: -3rem;
   }

   .partnerName {
      text-align: left;
      margin-left: 3.5rem;
   }

   .partnerDescription {
      text-align: left;
   }
   .partnerDescription2 {
      text-align: left;
   }

   .about-text-right .btn {
      margin: 2.5rem 3.5rem;
   }
   .about-text-left .btn {
      margin: 2.5rem 3.5rem;
   }
}

