#project {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    padding: 20px 0;
}
.proj-title {
    z-index: 100;
    padding-top: 10rem;
    font-size: 2.5rem;
    z-index: 100;
}
#project-content {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}
#proj1 {
    width: 28vw;
    height: 55vh;
}
#proj2 {
    width: 28vw;
    height: 55vh;
}
#proj3 {
    width: 28vw;
    height: 55vh;
}
.proj-img1 {
    width: 100%;
    height: 100%;
}
.proj-img2 {
    width: 100%;
    height: 100%;
}
.proj-img3 {
    width: 100%;
    height: 100%;
}
.hover-zoom {
    overflow: hidden;
    margin: 0;
}
#projIMG {
    transition: all .3s ease-in-out;
}
.hover-zoom:hover #projIMG {
    transform: scale(1.03);
}
.client-name {
    font-weight: bold;
    color: #555;
    margin-top: 5px;
}
.service {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.service:hover {
    color: orangered;
}

@media screen and (max-width: 768px) {
    #project-content {
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 480px) {
    #project-content {
        display: flex;
        flex-direction: column;
    }
    .projBOX1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .projBOX2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .projBOX3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #proj1 {
        width: 60vw;
    }
    #proj2 {
        width: 60vw;
    }
    #proj3 {
        width: 60vw;
    }
    .proj-text {
        margin: auto 0;
    }
    .service {
        font-size: 20px;
    }
    .proj-img1 {
        max-width: 100%;

    }
}
@media screen and (max-width: 280px) {
    #project-content {
        margin: 0 auto;
        padding-bottom: 100px;
    }
    .projBOX1 {
        display: flex;
        flex-direction: column;
    }
    .projBOX2 {
        display: flex;
        flex-direction: column;
    }
    .projBOX3 {
        display: flex;
        flex-direction: column;
    }
    #proj1 {
        width: 80vw;
    }
    #proj2 {
        width: 80vw;
    }
    #proj3 {
        width: 80vw;
    }
    .proj-text {
        margin: auto 0;
    }
    .service {
        font-size: 20px;
    }
    .proj-img1 {
        max-width: 100%;

    }
}